parser: babel-eslint
extends: airbnb
rules:
    func-names: 0
    semi: [2, never]
    no-unexpected-multiline: 2
    no-shadow: 1
    max-len: 1

    # import/no-duplicates: 2
    import/no-commonjs: 2
    import/imports-first: 2

    import/no-duplicates: 0
    import/extensions: 0
    import/no-unresolved: 0
    import/no-extraneous-dependencies: 0
    import/no-named-as-default: 0
    import/no-named-as-default-member: 0
    import/named: 1

    react/display-name: 1
    react/jsx-no-duplicate-props: 2
    react/jsx-filename-extension: 0
env:
    phantomjs: true
    jasmine: true
    browser: true
plugins:
    - import
    # - flowtype
settings:
    import/ignore:
        - node_modules
        - \.coffee$
        - \.(scss|less|css)$
    import/resolver: webpack
